<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="HeroHub CRM Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
            <directory>tests</directory>
        </exclude>
    </coverage>
    <php>
        <env name="WP_TESTS_DIR" value="c:/Users/DELL/Local Sites/herohub-crm/app/public/wp-content/plugins/herohub_plugin/tests/wordpress-tests-lib"/>
        <env name="WP_CORE_DIR" value="c:/Users/DELL/Local Sites/herohub-crm/app/public/"/>
    </php>
</phpunit>
